@CHARSET "UTF-8";

.themesgrid-theme-box {
  border:outset 1px #AAA;
  background: #F8F8F8;
  width:240px;
  height:200px;
  float:left;
  text-align:center;
  padding:10px 5px 5px;
  overflow:auto;
  margin: 5px;
}
.themesgrid-theme-box .theme-title h2 {
    display: inline;
}
.themesgrid-theme-box .controls .form-item {
    display: inline;
}
.themesgrid-theme-box .description,
.themesgrid-theme-box .controls  {
    border-top: solid 1px #ddd;
    padding-top: 3px;
}
